*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: azure;
    font-family: "Poppins", sans-serif;
}
body{
    height: 100dvh;
    display: flex;
    align-items: center;
}
#head{
    text-align: center;
    margin-bottom: 10px; 
    font-size: 32px;
}
.container{
    margin: 25px auto;
    padding: 25px;
    width: 90%;
    max-width: 450px;
    background: linear-gradient(135deg, #0eb5df, #2452eb);
    border-radius: 25px;
}
/* input and search */
.input{
    display: flex;
    width: 100%;
    margin:  15px auto;
    position: relative;
}
#city_input{
    width: 100%;
    height: 42px;
    color: #58595a;
    outline: none;
    border: none;
    padding: 15px 60px 15px 20px;
    font-size: large;
    border-radius: 99px ;
}
#city_input:focus{
    outline:3px solid #74767a;
}
span{
    width: 42px;
    height: 42px;
    border-radius: 0 99px 99px 0;
    padding: 7px;
    outline: none;
    border: none;
    position: absolute;
    right: 10px;
}
span i{
    font-size:30px ;
    color: #58595a;
}
span:hover{
    color: #1a1c1f;
}
/* main content */
.box{
    margin-top: 25px;
}
.box .row{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* city and weather level */
.box .row .city{
    text-align: center;
    font-size: 21px;
}
.box .row i{
    font-size: 32px;
}
.weather{
    font-size: 46px;
}
/* weather image with condition */
.row .climate{
    margin: auto;
    text-align: center;

}
.climate img{
    width: 180px;
    height: 180px;
}
.climate p{
    margin-top: -35px;
    font-size:48px;
    font-weight: 500;
}
/* humitity and wind */
.row .col{
    display: flex;
    align-items: center;
    margin-top: 30px;
    gap: 15px;
}
.row .col img{
    width: 50px;
    height: 50px;
}

/* Respomsive layout */
@media (max-width:576px) {
    body{
        background: linear-gradient(135deg, #0eb5df, #2452eb);
    }
    .container{
        height: 100dvh;
        margin: auto;
    }
    #head{
    font-size: 26px;
    }
    .climate img{
        width: 120px;
        height: 120px;
    }
    p{
        font-size: 13px;
    }
    .row .col img{
        width: 30px;
        height: 30px;
    }
    .weather{
        font-size: 32px;
    }
}  

@media (min-width:576) {
    
}